{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="">

<head>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/add.css' %}">
  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <title>Add Student</title>
  <meta charset="UTF-8">
  <meta name="descrption" content= "page to view student data" />
</head>

<body>
  <div class="sidebar">
    <ol class="sidebar-list">
      <li id="logo-item">
        <img src="{% static 'img/student.png' %}">
      </li>
      <li class="nav-item">
        <a href="/main/">
          <img src="{% static 'img/home.png' %}">
          <span>Home</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="/view/">
          <img src="{% static 'img/table.png' %}">
          <span>View Table</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="/add/">
          <img src="{% static 'img/add.png' %}">
          <span>Add Student</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="/update/">
          <img src="{% static 'img/edit.png' %}">
          <span>Update Depart</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="/edit/">
          <img src="{% static 'img/update.png' %}">
          <span>Edit Info</span>
        </a>
      </li>
    </ol>
  </div>

  <div class="middle-page">
    <div id="container">
      <form class="card-form" id="add-student-form" method="POST">
        {% csrf_token %}
        <h1 id="header-dep" style="font-size: 28px; color: black">Add Student</h1>
        <div id="error-field" class="error-field" style="color : #a32920;">{{message}}</div>
        <div class="input">
          <input type="number" name="id" id="id" class="input-field" required />
          <label class="input-label">ID</label>
        </div>
        <div class="input">
          <input type="number" name="NatID" class="input-field" required />
          <label class="input-label">National ID</label>
        </div>
        <div class="input">
          <input type="text" name="name" class="input-field" id="name" required />
          <label class="input-label">Full name</label>
        </div>
        <div class="input">
          <input type="number" name="Gpa" id="gpa" class="input-field" required />
          <label class="input-label">GPA</label>
        </div>
        <div class="sData-Selectors">
          <select name="level">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>

          <select name="Depart" id="DP">
            <option value="none">None</option>
            <option value="DS">DS</option>
            <option value="IT">IT</option>
            <option value="AI">AI</option>
            <option value="CS">CS</option>
          </select>

          <select name="status" id="S">
            <option value="1">Active</option>
            <option value="0">Not Active</option>
          </select>
        </div>
        <div id="gender-container">
          <label class="gender-select">
            <input type="radio" name="gender" value="Male" checked />
            <span>Male</span>
          </label>
          <label class="gender-select">
            <input type="radio" name="gender" value="Female" />
            <span>Female</span>
          </label>
        </div>
        <div class="action">
          <button class="action-button" id="subbut" type="button">Add Student</button>
        </div>
      </form>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'js/addS.js' %}" ></script>
</body>

</html>