{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Uni</title>
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
</head>


<body>
    <img src="{% static 'img/university.jpeg' %}" alt="University logo" height="100" width="100" style="margin: 10% 0 0 45%;">
    <div class="itemhpage" >
        <a  class="editbutton1" href="">Human Resources</a>
    </div>
    <div class="itemhpage">
        <a class="editbutton1" href="/main/">Student Affairs</a>
    </div>

    <div class="itemhpage">
        <a class="editbutton1" href="">Higher studies</a>
    </div>
    <div class="itemhpage">
        <a class="editbutton1" href="">Laboratory Tracking</a>
    </div>

</body>